/* font-family: 'Roboto';
font-style: normal; */
/* -----------------------------------------------------------*/
/* цвет шапки: FFFFFF */
/* основной цвет фона:  FFFFFF       E5E5E5 */
/* дополньтельній цвет фона: F5F4FA */
/* цвет футера: 2F303A */
/* -----------------------------------------------------------*/
/* текст лого (шапка): синий - 2196F3 , черній - 000000 */
/* текст навигации: віделено - 2196F3 , в состоянии покоя - 212121 */
/* текст навигации (почта телефон): почта - 2196F3 , телефон -  757575 */
/* главній герой (текст): FFFFFF */
/* главній герой (фон): 2F303A */
/* заголовки 2: 212121 */
/* заголовки 3: 212121 */
/* основной текст: 757575 */
/* текст лого (футер): синий - 2196F3 , белій - FFFFFF */
/* тект (почта телефон)(футер): rgba(255, 255, 255, 0.6); */
/* цвет фона футер: 2F303A */

:root {
  --primary-text-color: #757575;
  --white-text-color: #ffffff;
  --title-text-color: #212121;
  --black-text-color: #000000;
  --accent-color: #2196f3;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --footer-hover-color: rgba(33, 150, 243, 0.6);
  --dark-bgc: #2f303a;
}

/*

#TODO add class to portfolio.html (headers)

*/

body {
  background-color: var(--white-text-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

/*Навигация сайта*/
.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-auto .link {
  color: var(--primary-text-color);
}

.site-auto .link:hover,
.site-auto .link:focus {
  color: var(--accent-color);
}

/* logo */
.logo {
  color: var(--black-text-color);
}

.logo .logo-word {
  color: var(--accent-color);
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

/*hero section*/
.hero {
  background-color: var(--dark-bgc);
}

.hero-title {
  color: var(--white-text-color);
}

/* section */
.section-title {
  color: var(--title-text-color);
}

/* features */
.feature-list .title {
  color: var(--title-text-color);
}

/* team */
.team-list .title {
  color: var(--title-text-color);
}

/* portfolio photo */
.portfolio-list .title {
  color: var(--title-text-color);
}

/* button */
.button {
  background-color: var(--white-text-color);
  color: var(--accent-color);
}

.button.primary {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

.button.secondary {
  background-color: var(--white-text-color);
  color: var(--accent-color);
}

/* footer */
.footer {
  background-color: var(--dark-bgc);
}

.addres .addres-text {
  color: var(--white-text-color);
}

.addres .addres-link {
  color: var(--footer-link-color);
}

.addres .addres-link:hover,
.addres .addres-link:focus {
  color: var(--footer-hover-color);
}

.footer .logo {
  color: var(--white-text-color);
}
