/* font-family: 'Roboto';
font-style: normal; */
/* -----------------------------------------------------------*/
/* цвет шапки: FFFFFF */
/* основной цвет фона:  FFFFFF       E5E5E5 */
/* дополньтельній цвет фона: F5F4FA */
/* цвет футера: 2F303A */
/* -----------------------------------------------------------*/
/* текст лого (шапка): синий - 2196F3 , черній - 000000 */
/* текст навигации: віделено - 2196F3 , в состоянии покоя - 212121 */
/* текст навигации (почта телефон): почта - 2196F3 , телефон -  757575 */
/* главній герой: FFFFFF */
/* заголовки 3: 212121 */
/* основной текст: 757575 */
/* текст лого (футер): синий - 2196F3 , белій - FFFFFF */
/* тект (почта телефон)(футер): rgba(255, 255, 255, 0.6); */

body {
  background-color: #ffffff;
}

.list {
  list-style: none;
}

/*Навигация сайта*/
.site-nav .link {
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
